<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script>
        function validateForm() {
            var userEmail = document.getElementById("user_email").value;
            var password1 = document.getElementById("password1").value;
            var password2 = document.getElementById("password2").value;

            if (password1 !== password2) {
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>

<form action="/user/signup/" method="post" onsubmit="return validateForm()">
    <label for="user_email">이메일:</label>
    <br>
    <input type="email" id="user_email" name="user_email" required>
    <br>

    <label for="password1">비밀번호:</label>
    <br>
    <input type="password" id="password1" name="password1" required>
    <br>

    <label for="password2">비밀번호 확인:</label>
    <br>
    <input type="password" id="password2" name="password2" required>
    <br>

    <button type="submit">가입하기</button>
</form>

</body>
</html>
